/* 1200 992 768 600 */


/* Mobile Device */
@media screen and (max-width:600px) {
    nav ul {
        display: none;
    }

    .logimg img {
        width: 70%;
    }

    .login-btn {
        font-size: 0.75rem;
        padding: 3px 20px;
    }

    #belowNav {
        flex-direction: column;
        gap: 50px;
        margin-top: 40px;
    }

    #headingFirst {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #headingFirst h1 {
        font-weight: 200;
        font-size: 10vmin;
        width: 100%;
    }

    #headingFirst p {
        font-size: 4vmin;
        width: 100%;
    }

    #btnsec {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #headipara {
        margin-top: 0px;
    }

    main {
        gap: 30px;
    }

    #threeBox {
        gap: 50px;
    }

    #secBox {
        position:unset;
    }
    #headipara h2 {
        font-size: 5vmin;
        font-weight: 100;
    }
    
    #headipara p {
        font-size: 3vmin;
        color: #959e9e;
        margin-top: 15px;
    }
    #listbox{
        gap: 30px;
    }
    #headline h2 {
        font-size: 5vmin;
        align-items: center;
    }
}